// Contact Style Here Start
.tmp-form-area{
    background: var(--color-white);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 50px;
    .single-wrapper{
        margin-bottom: 30px;
        position: relative;
        z-index: 1;
        input{
            padding: 7px 0 12px;
            border-bottom: 1px solid #D9D9D9;
            color: var(--color-heading-1);
            &::placeholder{
                line-height: 1 !important;
            }
        }
        textarea{
            min-height: 120px;
            border-bottom: 1px solid #D9D9D9;
        }
        i{
            position: absolute;
            right: 10px;
            top: 13px;
        }
        button{
            display: block;
            max-width: 100%;
            border: none;
            padding: 25px 33px;
        }
        &.message{
            margin-bottom: 20px;
        }
    }
}

.tmp-get-in-touch-area{
    .section-inner{
        position: relative;
        z-index: 1;
        background: #FFFFFF;
        box-shadow: 0px 4px 53px rgba(0, 0, 0, 0.07);
        border-radius: 12px;
        overflow: hidden;
        .left-image{
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
        .content{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 50px 50px 45px;
            gap: 50px;
            margin-left: 120px;
        }
        .icon{
            a{
                display: block;
                width: 125px;
                height: 125px;
                line-height: 130px;
                border-radius: 50%;
                text-align: center;
                background: var(--color-primary);
                color: var(--color-white);
                font-size: 40px;
            }
        }
        .text{
            max-width: 543px;
            .title{
                font-weight: 600;
                margin-bottom: 10px;
            }
            a.phone{
                font-size: 30px;
                line-height: 1.25;
                color: var(--color-primary);
                font-weight: 600;
                font-family: var(--font-primary);
            }
            .desc{
                margin-top: 20px;
                color: #717580;
            }
        }
        .shape{
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }
    &.area-2{
        .section-inner{
            .icon{
                a{
                    display: block;
                    width: 125px;
                    height: 125px;
                    line-height: 130px;
                    border-radius: 50%;
                    text-align: center;
                    background: var(--color-primary-2);
                    color: var(--color-white);
                    font-size: 40px;
                }
            }
            .text{
                a{
                    color: var(--color-primary-2);
                }
            }
        } 
    }
    &.area-3{
        .section-inner{
            background: transparent;
            box-shadow: none;
        }
        .get-in-touch-wrapper{
            text-align: center;
            border-radius: 4px;
            background: rgba(#87AB42, $alpha: .1);
            height: 100%;
            padding: 30px 27px;
            .icon{
                margin-bottom: 30px;
                display: block;
            }
            .title{
                margin-bottom: 10px;
                color: #000000;
            }
            p{
                margin-bottom: 0;
                &:last-child{
                    margin-top: 3px;
                }
                a{
                    color: var(--color-body-1);
                    &:hover{
                        color: var(--color-primary-2);
                    }
                }
            }
        }
    }
}
.tmp-contact-area{
    .left-side-content{
        background: var(--color-white);
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        padding: 40px 30px;
        .image-area{
            margin-bottom: 30px;
        }
        .content{
            max-width: 537px;
            margin-bottom: 75px;
            .title{
                margin-bottom: 10px;
                line-height: 1;
            }
        }
        .social-bottom-area{
            display: flex;
            align-items: center;
            gap: 70px;
            h6{
                font-size: 16px;
                line-height: 1;
                margin-bottom: 10px;
                color: var(--color-body);
            }
            .phone{
                a{
                    font-size: 22px;
                    line-height: 1;
                    font-weight: 600;
                    font-family: var(--font-primary);
                    color: var(--color-heading-1);
                    transition: var(--transition);
                    &:hover{
                        color: var(--color-primary-2);
                    }
                }
            }
            .social-icon-wrapper{
                h6{
                    color: var(--color-heading-1);
                    position: relative;
                    z-index: 1;
                    max-width: max-content;
                    &::after{
                        content: '';
                        position: absolute;
                        width: 56px;
                        height: 1px;
                        background: var(--color-heading-1);
                        right: -70px;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: -1;
                    }
                }
                ul{
                    display: flex;
                    align-items: center;
                    gap: 25px;
                    li{
                        a{
                            color: var(--color-primary-2);
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
    .contact-form-area{
        background: var(--color-white);
        box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.06);
        border-radius: 10px;
        padding: 40px 30px;
        form{
            .title{
                margin-bottom: 30px;
            }
            .single-wrapper{
                &:not(:last-child){
                    margin-bottom: 25px;
                }
            }
            label{
                margin-bottom: 5px;
                color: var(--color-heading-1);
            }
            input, textarea{
                border-radius: 6px;
                border: 1px solid var(--color-border);
                padding: 10px 15px;
                color: var(--color-heading-1);
                &:focus{
                    border: 1px solid var(--color-primary-2);
                }
            }
            textarea{
                min-height: 130px;
            }
            button{
                width: 100%;
                max-width: 100%;
                text-align: center;
                border: none;
                box-shadow: none;
            }
        }
    }
}
.banner-contact-form{
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.06);
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px 0 0 20px;
    background: #F3F7ED;
    border-top-left-radius: 10px;
    z-index: 1;
    form{
        border-radius: 10px;
        padding: 41px 31px 54px;
        background: var(--color-heading-1);
        width: 460px;
        position: relative;
        z-index: 1;
        .title{
            margin-bottom: 15px;
            color: var(--color-white);
        }
        .desc{
            color: var(--color-white);
        }
        .single-wrapper{
            &:not(:last-child){
                margin-bottom: 25px;
            }
        }
        label{
            margin-bottom: 5px;
        }
        input, textarea{
            border-radius: 0;
            border-bottom: 1px solid rgba(#E4E4E4, $alpha: .1);
            padding: 0;
            padding-bottom: 15px;
            color: var(--color-white);
            &:focus{
                border-bottom: 1px solid var(--color-primary-2);
            }
            &::placeholder{
                color: rgba(#fff, $alpha: .8) !important;
            }
        }
        textarea{
            min-height: 80px;
        }
        button{
            width: 100%;
            max-width: max-content;
            text-align: center;
            border: none;
            box-shadow: none;
            background: var(--color-white) !important;
            color: var(--color-primary-2) !important;
            &:hover{
                color: var(--color-white) !important;
            }
            &::after{
                background: var(--color-primary-2) !important;
            }
        }
    }
    .top-right{
        height: 60px;
        width: 60px;
        background: transparent;
        border-bottom-right-radius: 20px;
        position: absolute;
        right: 0;
        top: -60px;
        box-shadow: 30px 0 0 0 #F3F7ED;
        overflow: hidden;
    }
    .bottom-left{
        height: 60px;
        width: 60px;
        background: transparent;
        border-bottom-right-radius: 20px;
        position: absolute;
        left: -60px;
        bottom: 0;
        box-shadow: 30px 0 0 0 #F3F7ED;
        overflow: hidden;
    }
}

.contact-map{
    height: 100%;
    background: var(--color-white);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.06);
    padding: 30px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    .location{
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    iframe{
        height: 100%;
        border-radius: 10px;
        filter: grayscale(1);
    }
}

.tmp-top-contact-area{
    padding-bottom: 60px;
    .section-inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .desc{
            max-width: 585px;
            padding-left: 20px;
            position: relative;
            z-index: 1;
            &::after{
                content: '';
                position: absolute;
                z-index: 1;
                width: 5px;
                height: 100%;
                left: 0;
                top: 0;
                background: var(--color-primary-2);
            }
        }
    }
}

.tmp-contact-area.contact{
    background: rgba(#87AB42, $alpha: .1);
    .contact-form {
        .top{
            background-color: #ffffff;
            padding: 30px 25px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
        }
    }

    .contact-box h2 {
        margin-bottom: 25px;
        color: #222;
    }

    label {
        display: block;
        margin: 20px 0 8px;
        font-weight: 500;
        color: #333;
    }

    label i {
        margin-right: 5px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ddd;
        border-radius: 6px;
        font-size: 14px;
        box-sizing: border-box;
        transition: border-color 0.3s ease;
    }

    input:focus,
    textarea:focus {
        border-color: #86c232;
        outline: none;
    }

    .help-section {
        margin: 25px 0 20px;
    }

    .help-section p {
        margin-bottom: 10px;
        font-weight: 600;
    }

    .help-section label {
        display: inline-block;
        margin-right: 20px;
        font-weight: 400;
        color: var(--color-body);
        font-family: var(--font-secondary);
        position: relative;
        z-index: 1;
        padding-left: 25px;
    }
    input[type=checkbox]{
        opacity: 1;
        width: 20px;
        height: 20px;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border: 1px solid var(--color-border);
        background: transparent;
    }

    button {
        width: 100%;
        max-width: 100%;
        border: none;
    }
    .right-content-area{
        background: rgba(#87AB42, $alpha: .8);
        border-radius: 10px;
        padding: 40px;
        margin-left: 30px;
        .title{
            color: var(--color-white);
            margin-bottom: 5px;
        }
        .desc{
            max-width: 433px;
            color: var(--color-white);
            margin-bottom: 20px;
        }
        .image-area{
            overflow: hidden;
            border-radius: 6px;
            margin-bottom: 30px;
        }
        .get-in-touch-area{
            h6{
                color: var(--color-white);
                margin-bottom: 10px;
            }
            p{
                color: var(--color-white);
                max-width: 433px;
                margin-bottom: 20px;
            }
            ul{
                display: flex;
                align-items: center;
                gap: 5px;
                li{
                    a{
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        border-radius: 50%;
                        color: var(--color-white);
                        border: 1px solid var(--color-white);
                        display: block;
                        text-align: center;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.tmp-error-area{
    .section-inner{
        .tmp-btn{
            margin: auto;
        }
    }
    .image-area{
        img{
            margin: auto;
        }
    }
}

.tmp-coming-soon-area{
    padding: 95px 0;
    background: url(../images/contact/coming-soon-bg.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
    overflow: hidden;
    &::after{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(135, 171, 66, 0.5) 100%);
    }
    .section-inner{
        background: var(--color-white);
        text-align: center;
        max-width: 716px;
        margin: auto;
        border-radius: 6px;
        padding: 90px 100px;
        .title{
            margin-bottom: 30px;
        }
        .countdown .countDown{
            position: unset;
            transform: unset;
            justify-content: center;
            gap: 25px;
        }
        .countdown .countDown .container{
            background: none;
            display: flex;
            gap: 8px;
            padding: 0 !important;
            align-items: end;
            .a{
                color: var(--color-primary-2);
                div{
                    font-size: 34px;
                    line-height: 1;
                    font-weight: 600;
                    font-family: var(--font-primary);
                }
            }
            &::after{
                color: var(--color-body);
                font-size: 14px;
                right: 0;
                position: relative;
                bottom: 0;
                top: unset;
                line-height: 1;
                bottom: 3px;
            }
        }
        .countdown .countDown .container:first-child::after{
            content: "Days";
        }
        .countdown .countDown .container:nth-child(2)::after{
            content: "Hours";
        }
        .countdown .countDown .container:nth-child(3)::after{
            content: "Minutes";
        }
        .countdown .countDown .container:nth-child(4)::after{
            content: "Seconds";
        }
        p.desc{
            margin-top: 30px;
        }
    }
}